* {
    padding: 0;
    margin: 0;
    overflow: none;
}
xs

img {
    margin-bottom: 25px;
    animation-name: imageFloat;
    animation-duration: 2s;
}


@keyframes imageFloat{

    0% {
        transform: translateX(0deg);
    }
    25% {
        transform: translateX(5deg);
    }
    50% {
        transform: translateX(-5deg);
    }
    100% {
        transform: translateX(5deg);
    }
    
}